.dialog {
  &__content {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__title {
    align-self: flex-start;
  }
}

.btn {
  &__wrapper {
    flex: 1;
    display: flex;
  }
}