<mat-card class="root">
  <mat-card-title>Create Add Button</mat-card-title>

  <mat-card-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum iste maxime nostrum quae quas quis ratione. Aliquam
    aspernatur cupiditate enim nam, nesciunt qui quos temporibus vel, velit voluptates voluptatibus voluptatum.
  </mat-card-content>

  <mat-card-actions class="buttons">
    <button class="btn" mat-button color="primary">
      <mat-icon>edit</mat-icon>
      Edit
    </button>

    <button class="btn" mat-button color="warn">
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </mat-card-actions>
</mat-card>
