.gallery {
	&__item {
		flex: 0 0 auto;
		width: 100%;
		position: relative;
		margin-bottom: 1.5rem;
		overflow: hidden;
		cursor: pointer;

		@media screen and(min-width: 992px) {
			width: 25%;
		}

		&__half {
			@media screen and(min-width: 992px) {
				width: 50%;
			}
		}
	}

	&__photo {
		height: 100%;
		max-width: 100%;
		width: 100%;
		transition: all .5s;

		&:hover {
			transform: scale(1.2);
			filter: blur(1px);
		}
	}

	&__title {
		position: absolute;
		bottom: 2.2rem;
		left: 3.7rem;
		text-transform: uppercase;
		letter-spacing: 0.5rem;
		font-size: 2.6rem;
		color: $white-color;
	}
}
