<div class="container" id="container">
  <div class="column">
    <h1 class="title">To Do</h1>

    <app-todo-list
      [tasks]="todos"
      cdkDropList
      [cdkDropListData]="todos"
      (cdkDropListDropped)="drop($event)"
      #todoList="cdkDropList"
      [cdkDropListConnectedTo]="[inProgressList]"
      class="example-list"
      (selectId)="selectIdOfTask($event)"
    ></app-todo-list>

    <a href="#popup" class="btn-add">&#43; Add</a>
  </div>

  <div class="column">
    <h1 class="title">In Progress</h1>

    <app-todo-list
      [tasks]="inProgresses"
      cdkDropList
      [cdkDropListData]="inProgresses"
      (cdkDropListDropped)="drop($event)"
      #inProgressList="cdkDropList"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (selectId)="selectIdOfTask($event)"
    ></app-todo-list>
  </div>

  <div class="column">
    <h1 class="title">Done</h1>

    <app-todo-list
      [tasks]="dones"
      cdkDropList
      [cdkDropListData]="dones"
      (cdkDropListDropped)="drop($event)"
      #doneList="cdkDropList"
      [cdkDropListConnectedTo]="[inProgressList]"
      class="example-list"
      (selectId)="selectIdOfTask($event)"
    ></app-todo-list>
  </div>
</div>

<app-add-task></app-add-task>

<app-edit-task
  [title]="title"
  [description]="description"
  (editedTitle)="editTitleOfTask($event)"
  (editedDesc)="editDescriptionOfTask($event)"
></app-edit-task>
