.container {
    display: flex;
    align-items: flex-start;
    overflow: scroll;
}

.column {
    background-color: #ebecf0;
    border-radius: .3rem;
    padding: 1rem;
    margin: 1rem;
    flex: 0 0 20rem;
}

.title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.main-container {
    height: 100vh;
    padding-top: 2rem;
    background-image: url("../assets/red-fruit-handing-on-tree-branch-selective-color-photography-64705.jpg");
    background-size: cover;
}