<div class="container">
  <h1 class="title mat-display-1"> Trello clone </h1>

  <div class="board" cdkDropListGroup>
    <app-card-list class="board__column"
      [status] = "'TODO'"
      [tasks] = "toDo"
    >
    </app-card-list>

    <app-card-list class="board__column"
      [status] = "'IN PROGRESS'"
      [tasks] = "inProgress"
    >
    </app-card-list>

    <app-card-list class="board__column"
      [status] = "'DONE'"
      [tasks] = "done"
    >
    </app-card-list>
      
  </div>
</div>

