.container {
    height: 100vh;
    background-image: url("../assets/red-fruit-handing-on-tree-branch-selective-color-photography-64705.jpg");
    background-size: cover;
}

.title {
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

.board {
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;

    &__column {
        display: flex;
        flex-direction: column;
        flex: 0 0 20rem;
        border-radius: .3rem;
        background-color:#F5F5F5;
        padding: .7rem;
        margin: 1rem;
    }
}