<div class="popup-edit" id="popup-edit">
  <div class="content">
    <a href="#container" class="close">&times;</a>
    <div class="form-container">
      <div class="form-title">
        <p class="title">Title:</p>
        <input
          id="input-title-edit"
          type="text"
          class="input-title"
          [(ngModel)]="title"
        />
      </div>

      <div class="form-desc">
        <p class="description">Description:</p>
        <input
          id="input-desc-edit"
          type="text"
          class="input-desc"
          [(ngModel)]="description"
        />
      </div>
    </div>

    <a href="#container" class="btn-save" (click)="onEditTask(title, description)">
      Save
    </a>
  </div>
</div>
