.primary-title {
	font-size: $title-font-size;
}

.header__title {
	font-size: $title-font-size;
	color: $white-color;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.7rem;

	@media screen and (max-width: 768px) {
		font-size: 2.5rem;
	}
}

.header__description {
	color: #eee;
	width: 60%;
	margin: 2rem auto;
	text-align: center;

	@media screen and (max-width: 768px) {
		font-size: 1.5rem;
	}
}
