.primary-title {
	font-size: $title-font-size;
}

.header__title {
	font-size: $title-font-size;
	color: $white-color;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.7rem;
}

.header__description {
	color: #eee;
	width: 50%;
	margin: 2rem auto;
	text-align: center;
}
