* {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  .heading--1 {
    text-transform: uppercase;
    color: $color-light;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 47%;
    text-align: center;
    font-size: 4rem;
    letter-spacing: 0.4rem;
    transform: translate(-50%, -50%);
    animation: pop-out 1s linear;

    @media only screen and (max-width: $bp-md) {
      top: 38%;
      font-size: 3.4rem;
    }

    @media only screen and (max-width: $bp-xs) {
      font-size: 3rem;
      top: 42%;
    }
  }

  .heading--2 {
    text-transform: uppercase;
    color: $color-light;
    font-weight: 400;
    position: absolute;
    left: 50%;
    top: 60%;
    text-align: center;
    font-size: 1rem;
    line-height: 2rem;
    transform: translate(-50%, -50%);
    animation: pop-out 1s linear;

    @media only screen and (max-width: $bp-md) {
      font-size: 0.8rem;
      top: 67%;
    }

    @media only screen and (max-width: $bp-xs) {
      font-size: 0.5rem;
      line-height: 1.3rem;
      top: 70%;
    }
  }
}

.heading-3 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400px;
}
