.story {
  padding: 80px 0;

  .container {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;

    .section-heading {
      font-weight: 700;
      font-size: 25px;
      line-height: 1;
      position: relative;
      padding-bottom: 20px;
      text-align: center;
      color: #333;
      margin: 5px 0 30px;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 50px;
        height: 2px;
        background: #f38181;
        transform: translateX(-50%);
      }

      .sub-heading {
        display: block;
        text-transform: none;
        font-weight: 400;
        font-family: 'Kaushan Script', cursive;
        font-size: 20px;
        margin-bottom: 20px;
      }
    }

    .section-description {
      text-align: center;
      max-width: 750px;
      margin: 0 auto 40px;
      color: #999;
      font-size: 13px;
      font-weight: 400;
      overflow-x: hidden;
      position: relative;
      font-family: 'Roboto', sans-serif;
    }

    .section-content {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap: 15px;

      img {
        max-width: 360px;
      }
    }
  }
}