$color-primary-light: #7eb2b6;
$color-secodary-light: #f5ddb3;
$color-tertiary-light: #c487a4;

$background-color-light: #fff4df79;
$component-background-color-light: darken($background-color-light, 7%);

$h1-font-color-light: rgb(92, 57, 29);
$p-font-color-light: #000;

$component-margin: 2rem;
$component-border-radius: 0.7rem;
$component-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.158);


//HEADER
$header-height: 7rem;


//TASKLIST