.flag {
    height: 100vh;
    display: flex;
}

.stripe {
    flex-grow: 1;
}

.white {
    background-color: white;
}

.red {
    background-color: #ef3340;
}

.blue {
    background-color: #001489;
}