/* HEADER */
.header {
  background-color: red;
  height: 100px;
}

.header .header-text,
.footer .footer-text {
  margin: auto;
}

/* MIDDLE */

.middle {
  background-color: gold;
}

.middle .left,
.middle .right {
  background-color: chartreuse;
  width: 20vw;
}

/* FOOTER */

.footer {
  background-color: orange;
  height: 30px;
}
