:root {
  --section-height: calc(100vh - 130px);
  --lr-color: #bf8285;
  --middle-color: #689ebd;
  --hf-color: #bb5051;
}

* {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.wrapper {
  height: var(--section-height);
  display: flex;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.middle {
  background-color: var(--middle-color);
}

.left,
.right {
  background-color: var(--lr-color);
  max-width: 150px;
  width: 20%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

.header,
.footer {
  background-color: var(--hf-color);
}

.our-text {
  font-size: 36px;
}

@media (max-width: 480px){
  .our-text {
    font-size: 14px;
  }
}
