.btn {
    display: inline-block;
    text-transform: uppercase;
    padding: 1rem 2rem;
    text-align: center;

    &--white-transparent {
        border: 1px solid  white;
        color: white;
    }
}