.collapsible {
  border: 1px solid #e5e5e5;

  &:not(:first-child) {
    margin-top: 1em;
  }
  &__toggle {
    display: none;
  }
  &__toggle:checked + &__label + &__content {
    max-height: 140px;
    margin: 15px 20px 15px 0;
  }
  &__toggle:checked + &__label &__arrow {
    transform: rotate(180deg);
  }
  &__icon {
    @include size(30px, 30px);
    margin-right: 10px;
    fill: $secondary-color;
  }
  &__label {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
  }
  &__title {
    flex: 1;
    text-transform: uppercase;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Monserrat';
    font-weight: 300;
  }
  &__arrow {
    font-size: 20px;
    color: #e5e5e5;
  }
  &__content {
    overflow-y: scroll;
    max-height: 0;
    transition: all 0.4s ease-in-out;
    margin-right: 20px;
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      border-left: 2px solid white;
      border-right: 2px solid white;
      background-color: #e5e5e5;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $secondary-color;
      border-radius: 30px;
    }
    &::-webkit-resizer {
      width: 10px;
    }
  }
  &__text {
    padding: 10px;
    line-height: 1.7;
    font-size: 13px;
    font-family: 'Roboto';
    color: #999999;
    margin-right: 30px;
  }
}
