#story-about-us {
	margin: 8rem 0;
}

.section {
	&__content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	&__item {
		display: inline-block;
		flex: 0 0 33%;
		padding: 1rem;

		@media screen and (max-width: 768px) {
			flex: 0 0 100%;
		}

		&:hover {
			.overlay {
				left: -10px;
				top: -10px;

				&::before {
					opacity: 1;
				}
			}

			.overlay__content {
				opacity: 1;
			}
		}

		.overlay {
			display: block;
			position: relative;
			left: 0;
			top: 0;
			transition: all .3s ease-in-out;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				transition: all .3s ease-in-out;
				background: rgba($color-primary, 0.9);
				background: linear-gradient(to bottom, rgba($color-primary, 0.9), rgba($color-secondary, 0.9));
			}

			&__wrapper {
				background-color: #95e1d3;
			}

			&__content {
				position: absolute;
				left: 0;
				top: 50%;
				width: 100%;
				z-index: 1;
				opacity: 0;
				text-align: center;
				color: $color-white;
				text-transform: uppercase;
				transform: translateY(-50%);

				font-weight: 700;
				font-size: 1.4rem;
			}

			&__icon {
				display: block;
				font-size: 3rem;
			}

			img {
				height: auto;
				width: 100%;
				max-width: 100%;
			}
		}
	}
}
