// For each font-family, define the font family class
@mixin make-font-families($families: $font-families) {
	@each $name, $font-family in $families {
		$infix: get-infix($name);

		.font#{$infix} {
			font-family: $font-family;
		}
	}
}

@mixin font-roboto {
	font-family: $font-roboto;
}

@mixin font-montserrat {
	font-family: $font-montserrat;
}

@mixin font-kaushan-script {
	font-family: $font-kaushan-script;
}
