.box {
	border: 2px solid $primary-color;
	display: flex;
	text-align: center;

	&__title {
		text-transform: uppercase;
		text-align: center;
		padding: 0 10rem;
		font-size: 3rem;
		font-weight: bold;
		letter-spacing: 0.25rem;
	}

	&__content {
		padding: 5rem 10rem;
		font-size: 1.6rem;
	}
}
