<div class="task-list task-list--todo"
    cdkDropList 
    #toDoList="cdkDropList" 
    [cdkDropListData] = "toDo"
    [cdkDropListConnectedTo] = "[inProgressList, doneList]"
    (cdkDropListDropped) = "onDrop($event)"
>
    <h2 class="task-list__title">
        toDo
    </h2>
    <div class="card cdk-drag-animating" *ngFor="let item of toDo; let i = index" cdkDrag>
        <div class="card__title">{{item.title}}</div>
        <div class="description-buttons-container">
        <div class="card__description">{{item.descriptionShort}}</div>
        <div class="button-container">
        <button (click)="openEditTask(toDo, i)" class="button button--action button--edit">
            E
        </button>
        <button (click)="deleteTask(toDo, i)" class="button button--action button--delete">
            D
        </button>
        </div>
        </div>  
    </div>
</div>


<div class="task-list task-list--todo"
    cdkDropList 
    #inProgressList="cdkDropList" 
    [cdkDropListData] = "inProgress"
    [cdkDropListConnectedTo] = "[toDoList, doneList]"
    (cdkDropListDropped) = "onDrop($event)"
>
    <h2 class="task-list__title">
        InProgress
    </h2>
    <div class="card cdk-drag-animating" *ngFor="let item of inProgress; let i = index" cdkDrag>
        <div class="card__title">{{item.title}}</div>
        <div class="description-buttons-container">
            <div class="card__description">{{item.descriptionShort}}</div>
            <div class="button-container">
            <button (click)="openEditTask(inProgress, i)" class="button button--action button--edit">
                E
            </button>
            <button (click)="deleteTask(inProgress, i)" class="button button--action button--delete">
                D
            </button>
            </div>
            </div>  
    </div>
</div>

<div class="task-list task-list--todo"
    cdkDropList 
    #doneList="cdkDropList" 
    [cdkDropListData] = "done"
    [cdkDropListConnectedTo] = "[toDoList, inProgressList]"
    (cdkDropListDropped) = "onDrop($event)"
>
    <h2 class="task-list__title">
        Done
    </h2>
    <div class="card cdk-drag-animating" *ngFor="let item of done; let i = index" cdkDrag>
        <div class="card__title">{{item.title}}</div>
        <div class="description-buttons-container">
            <div class="card__description">{{item.descriptionShort}}</div>
            <div class="button-container">
            <button (click)="openEditTask(done, i)" class="button button--action button--edit">
                E
            </button>
            <button (click)="deleteTask(done, i)" class="button button--action button--delete">
                D
            </button>
            </div>
            </div>  
    </div>
</div>

<button class="button button--add" (click) = " toggleNewTaskModal()"><span>+</span></button>

<div class="modal" [class.modal--active] = "newTaskModal">  
    <input type="text" class="form-control new-task__title"
        required
        placeholder="Title"
        [(ngModel)]="newTaskTitle"
        >

    <textarea type="text" class="form-control modal__content" 
        placeholder="Task description"
        required
        [(ngModel)]="newTaskContent" 
    >
    </textarea>
    <div class="modal__button-container">
        <button class="btn btn-success" (click)="createNewTask()">Save</button>
        <button (click)="toggleNewTaskModal()">Cancel</button> 
    </div>
</div>

<div class="modal" [class.modal--active] = "editTaskModal">  
    <input type="text" class="form-control modal__title"
        required
        placeholder="Title"
        [(ngModel)]="editTaskTitle"
        >
    
    <textarea type="text" class="form-control modal__content" 
    placeholder="Task description"
    required
    [(ngModel)]="editTaskContent"
    >
    </textarea>
    
    <div class="modal__button-container">
    <button class="btn btn-success" (click)="saveEditedTask()">Save</button>
    <button (click)="editTaskModal = false; toggleModalOverlay()">Cancel</button>
    </div>
</div>

<div class="modal__overlay " [class.modal__overlay--active] = "modalOverlay"></div>