// Colors
$color-primary: #3C3C3C !default;
$color-white: #fff !default;

// Typography
$title-primary: 3.5rem !default;
$title-secondary: 3rem !default;
$title-tertiary: 2.5rem !default;

// Font size
$font-size-primary: 1.6rem !default;

// Letter spacing
$letter-spacing-primary: 0.25rem !default;
$letter-spacing-secondary: 0.5rem !default;

// Container padding
$container-padding-x: 1rem !default;
$container-padding-y: 5rem !default;
