* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0079bf;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
