@keyframes pop-out {
  0% {
    opacity: 0%; }
  100% {
    opacity: 100%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer; }

* {
  font-family: Arial, Helvetica, sans-serif; }

.header .heading--1 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 47%;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 0.4rem;
  transform: translate(-50%, -50%);
  animation: pop-out 1s linear; }
  @media only screen and (max-width: 768px) {
    .header .heading--1 {
      top: 38%;
      font-size: 3.4rem; } }
  @media only screen and (max-width: 320px) {
    .header .heading--1 {
      font-size: 3rem;
      top: 42%; } }

.header .heading--2 {
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  position: absolute;
  left: 50%;
  top: 60%;
  text-align: center;
  font-size: 1rem;
  line-height: 2rem;
  transform: translate(-50%, -50%);
  animation: pop-out 1s linear; }
  @media only screen and (max-width: 768px) {
    .header .heading--2 {
      font-size: 0.8rem;
      top: 67%; } }
  @media only screen and (max-width: 320px) {
    .header .heading--2 {
      font-size: 0.5rem;
      line-height: 1.3rem;
      top: 70%; } }

.heading-3 {
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 400px; }

.btn {
  display: block;
  width: 20rem;
  height: 4rem;
  margin: 2rem 0;
  position: relative; }
  .btn__text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase; }
  .btn--dark {
    background-color: #3C3C3C;
    color: #fff;
    transition: 0.15s; }
    .btn--dark:hover {
      background-color: #626262;
      font-size: 1.1rem; }

.card {
  position: relative;
  padding: 3rem 0 2rem 0;
  width: 50vw;
  min-width: 60rem;
  margin: 0 auto;
  border-bottom: 2px solid; }
  .card::before, .card::after {
    content: '';
    position: absolute;
    width: 32%;
    height: 100%;
    top: 0; }
  .card::before {
    left: 0;
    border-left: 2px solid;
    border-top: 2px solid; }
  .card::after {
    content: '';
    right: 0;
    border-top: 2px solid;
    border-right: 2px solid; }
  .card__item {
    display: grid;
    justify-items: center; }
  .card__title {
    position: absolute;
    font-size: 3rem;
    text-transform: uppercase;
    top: 0;
    left: 50%;
    width: 60%;
    text-align: center;
    transform: translate(-50%, -50%); }
  .card__text {
    margin: 2rem auto;
    width: 60%;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.5; }
    .card__text--secondary {
      width: 50%; }
  .card__icon {
    width: 5rem; }
  .card--light {
    color: #fff; }
  .card--dark {
    color: #3C3C3C; }
  @media only screen and (max-width: 768px) {
    .card {
      min-width: 10rem;
      width: 90vw;
      padding: 1rem 0 0.5rem 0; }
      .card::before, .card::after {
        content: '';
        width: 20%; } }

.footer {
  margin-bottom: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  grid-auto-flow: column; }

.gallery {
  display: grid;
  grid-template-columns: minmax(280px, 1fr) 2fr minmax(280px, 1fr);
  grid-auto-rows: 20vh;
  gap: 0.8rem; }
  .gallery__item {
    overflow: hidden;
    position: relative; }
    .gallery__item img {
      display: block;
      width: 100%;
      height: 100%;
      transition: all 0.5s; }
    .gallery__item img:hover {
      transform: scale(1.2); }
    .gallery__item h3 {
      position: absolute;
      color: white;
      text-transform: uppercase;
      left: 2rem;
      bottom: 2rem; }
  @media only screen and (max-width: 992px) {
    .gallery {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: 1fr; } }
  @media only screen and (max-width: 768px) {
    .gallery {
      grid-template-columns: 1fr; } }

.header {
  background: url(../img/header.png);
  background-size: cover;
  height: 90vh;
  position: relative; }
  .header__logo {
    position: absolute;
    width: 4.5rem;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    animation: pop-out 1s linear; }
    @media only screen and (max-width: 768px) {
      .header__logo {
        top: 13%; } }
  .header__mouse {
    position: absolute;
    width: 1.5rem;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: pop-out 1s linear; }
  @media only screen and (max-width: 768px) {
    .header {
      height: 70vh; } }

.about {
  padding: 10rem 0; }

.services {
  padding: 10rem 0;
  background-image: url(../img/bg-cover.png);
  background-size: cover; }

.activities {
  padding: 10rem 0; }

.contact {
  padding: 10rem 0; }
  .contact .btn {
    margin: 2rem auto; }
