.button {
  &--add {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin-left: 2rem;
    margin-bottom: 2rem;
    background-color: $color-primary-light;
    border: none;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.178);
    color: white;
  }

  &--action {
    border-radius: 50%;
    height: 3.2rem;
    width: 3.2rem;
    border: none;
    box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.178);
  }

  &--edit {
    margin-bottom: 1rem;
    background-color: lighten($color-secodary-light, 10%);
  }

  &--delete {
    background-color: $warning-color;
    color: white;
  }
}
