@import "./variables.scss";
@import "./mixins.scss";

.header {
  height: $header-height;
  background-color: $component-background-color-light;
  margin: $component-margin;
  border-radius: $component-border-radius;
  box-shadow: $component-box-shadow;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  margin-left: 3rem;
  font-size: 2.6rem;
  color: $h1-font-color-light;
}
