@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,500,700|Roboto:300i,400,400i,700&display=swap" rel="stylesheet');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
// font-family: 'Roboto', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Kaushan Script', cursive;

.first-heading {
  font-family: "Kaushan Script", cursive;
  color: $dark-grey;
  font-weight: normal;
}

.second-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 30px;
}

.header-underline {
  width: 61px;
  height: 5px;
  background-color: $rose;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 420px) {
  .first-heading,
  .second-heading {
    font-size: 20px;
  }

  .header-underline {
    width: 35px;
    height: 2px;
  }
}
