@import url("buttons.css");
@import url("layouts.css");
@import url("forms.css");

:root {
  --primary-color: #344955;
  --primary-color-dark: #232F34;
  --secondary-color: #F9AA33;
}

body {
  font-family: Roboto, sans-serif;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  background-color: #e0e0e0;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 100vh;
}

.board {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.board__row {
  display: flex;
  flex-direction: row;
  height: 330px;
}

.board__box {
  cursor: pointer;
  width: 330px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 5px;
  font-size: 5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.board__box:hover {
  transform: scale(0.98);
  box-shadow: none;
}

@media screen and (max-width: 992px) {
  .main-container {
    flex-direction: column;
  }

  .game-container {
    height: 80vh;
    width: 100vw;
  }

  .sidebar {
    width: 100vw;
    height: 300px;
  }

  .board {
    height: 300px;
    width: 300px;
  }
}
