:root {
    --primary-color: #2364fa;
    --secondary-color: #faa303;
    --secondary-color--dark: #aa7004;
    --primary-color--dark: #1a4bbd;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
body {
    background-color: var(--secondary-color);
}
.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100vh;
}
.main {
    overflow: scroll;
}
.game {
    background-color: white;
    display: grid;
    justify-items: center;
    margin: 2rem 4rem;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.game__heading {
    border-bottom: 1px solid lightgrey;
    text-transform: uppercase;
    width: 90%;
    color: var(--secondary-color);
    font-size: 4rem;
    padding-bottom: 5px;
    margin-top: 1rem;
    font-weight: 400;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.game__winner{
    margin: 1rem;
    font-size: 2rem;
    color: var(--secondary-color);
    visibility: hidden;
}
.game__winner--show{
    visibility: visible;
}
.game__form {
    margin-bottom: 1rem;
    display: none;
}
.game__form--show{
    display: block;
}
.game__form input[name='winnerName']{
    border: none;
    width: 12rem;
    border-bottom: 1px solid var(--primary-color);
    margin-right: 2rem;
}
.game__form input[name='winnerName']:focus{
    border-bottom-width: 2px;
    transition: border-bottom-width .5s;
}
.game__controls {
    display: grid;
    height: 50px;
}

.xo-table {
    display: grid;
    background-color: var(--primary-color);
    width: 100%;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, minmax(100px, 20%));
    grid-template-rows: repeat(3, 150px);
    position: relative;
}

/* Hides the outer border */
.xo-table::after {
    pointer-events: none;
    content: '';
    border: 12px solid var(--primary-color);
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 61%;
    height: 450px;
    position: absolute;
}


.xo-table__cell{
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 8rem;
    border: .2rem solid var(--secondary-color);
    color: var(--secondary-color);
}

.xo-item{   
    z-index: 1;
    border-radius: 100%;
    position: relative;
    width: 4rem;
    height: 4rem;
}

.xo-item::before, .xo-item::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.circle::before, .circle::after {
    border-radius: 100%;
    border: .7rem solid transparent;
}
.circle::before {
    border-top-color: var(--secondary-color);
    border-right-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    transition: border-top 0s linear,
                border-right 0s linear .1s,
                border-bottom 0s linear .15s;
}
.circle::after {
    border-top-color: var(--secondary-color);
    transform: rotate(270deg);
    transition: transform .5s;
}
.cross::before, .cross::after {
    border: 0;
    top: -5%;
    left: 45%;
    width: 10px;
    background-color: var(--secondary-color);
    transition: transform .2s linear;
}
.cross::after{
    transform: rotateZ(45deg);
}
.cross::before{
    transform: rotateZ(-45deg);
}

.xo-item--dark.circle::after {
    border-color: var(--secondary-color--dark);
}
.xo-item--dark.cross::after,
.xo-item--dark.cross::before {
    background-color: var(--secondary-color--dark);
}

.xo-item--light.circle::after,
.xo-item--light.cross::after,
.xo-item--light.cross::before {
    box-shadow: 2px 2px 40px 2px var(--secondary-color);
}
.sidebar {
    overflow: scroll;
    color: white;
    border-radius: 2px;
    background-color: var(--primary-color);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.sidebar__header{
    text-align: center;
    font-size: 3rem;
    color: var(--secondary-color);
    margin: 2rem 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.winner-list__item {
    font-size: 1rem;
    padding: 1.5rem 0 1.5rem 1rem;
    letter-spacing: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btn{
    border: none;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 2px;
}
.btn--reset {
    font-size: 18px;
    color: var(--secondary-color);
    background-color: #fff;
}
.btn--reset:hover {
    color: var(--secondary-color--dark);
}
.btn--reset:active {
    color: var(--secondary-color);
}
.btn--submit {
    background-color: var(--primary-color);
    color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.btn--submit:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.btn--submit:active {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.btn--disabled:hover{
    cursor: initial;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@media only screen and (max-width: 1024px){
    
    .container {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }
    .main {
        overflow: visible;
    }
    .game{
        margin: 1rem;
    }
    .xo-table{
        grid-template-rows: repeat(3, 150px);
        grid-template-columns: repeat(3,1fr);
    }
    .xo-table::after {
        height: 450px;
        width: 100%;
        border-left-width: 40px;
        border-right-width: 40px;
    }
    .sidebar{
        overflow: visible;
        margin: 0 1rem;
        border-radius: 5px;
    }
}
@media only screen and (max-width: 768px) {
    html {
        font-size: 85% !important;
    }
  
}

@media only screen and (max-width: 568px) {
    .xo-table {
        grid-template-rows: repeat(3, 100px);
    }
    .xo-table::after {
        height: 300px;
        border-left-width: 10px;
        border-right-width: 10px;
    }
}