/*.fade {*/
/*  transition: opacity 0.15s linear;*/
/*}*/

/*.fade:not(.show) {*/
/*  opacity: 0;*/
/*}*/

/*.collapse:not(.show) {*/
/*  display: none;*/
/*}*/

/*.collapsing {*/
/*  position: relative;*/
/*  height: 0;*/
/*  overflow: hidden;*/
/*  transition: height 0.15s ease;*/
/*}*/

/*.show {*/
/*  display: block;*/
/*  opacity: 1;*/
/*}*/


.collapse {
  opacity: 1;
  height: auto;
  transition: opacity 0.2s linear;
}

.collapse.hide {
  opacity: 0;
  height: 0;
}
