* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;

	@media only screen and (max-width: 75em) {
		font-size: 50%;
	}
}

body {
	@include font-roboto();
	font-weight: 400;
	min-height: 100vh;
	color: $color-white;
	background: linear-gradient(to bottom, $color-primary, $color-secondary);
}

#work-in-progress {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-size: 10rem;
}
