mat-card-title {
  margin-left: 10px;
}
app-trello-task {
  display: block;
}
.btn {
  width: 100%;
}
.task-container {
  padding-bottom: 5px;
}
.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.trello-task:last-child {
  border: none;
}

.task-container.cdk-drop-list-dragging .trello-task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}