.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(black, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  .content {
    background-color: white;
    padding: 2rem;
    position: relative;
    width: 450px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .close:link,
    .close:visited {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      font-size: 2rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    .form-container {
      width: 300px;

      .form-title,
      .form-desc {
        display: flex;
        margin-bottom: 2rem;

        .title,
        .description {
          margin-right: auto;
          font-size: 1.3rem;
        }

        .input-title,
        .input-desc {
          width: 70%;
          border: 1px solid grey;
        }

        .input-desc {
          height: 80px;
        }
      }

      @media (max-width: 900px) {
        .form-title,
        .form-desc {
          margin-bottom: 0.7rem;
        }
      }
    }

    @media (max-width: 900px) {
      .form-container {
        width: 230px;
      }
    }

    .btn-save {
      text-decoration: none;
      font-size: 1.4rem;
      background-color: steelblue;
      color: white;
      width: 20%;
      padding: 0.5rem;
      text-align: center;
      border-radius: 0.4rem;
    }
  }

  @media (max-width: 900px) {
    .content {
      width: 300px;
      height: 220px;
    }
  }
}
