.achievement {
  background-color: $secondary-color;
  color: #fff;
  font-size: 16px;
  &__count {
    font-size: 1.8em;
    margin-bottom: 0.6rem;
  }
  &__title {
    font-size: 0.5em;
    font-weight: 200;
    text-transform: uppercase;
  }

  @include m-query(sm) {
    font-size: 24px;
  }

  @include m-query(md) {
    font-size: 30px;
  }

  @include m-query(lg) {
    font-size: 34px;
  }
}
