.footer {
  padding-top: 50px;
  padding-bottom: 0;
  &__copyright {
    padding-top: 20px;
    margin-top: 30px;
    border-top: 1px solid #e5e5e5;
  }
}
.social {
  margin-bottom: 20px;
  &__title {
    font-size: 32px;
    color: #cccccc;
    margin-bottom: 20px;
  }
  &__followers {
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 100;
    span {
      font-size: 18px;
      font-weight: 800;
    }
    border-bottom: 1px solid #e5e5e5;
  }
  &__links {
    font-size: 14px;
    font-style: italic;
    color: #999999;
    margin: 15px 0;
    margin-bottom: 20px;
  }
  &__link {
    color: $secondary-color;
    font-size: 15px;
    margin: 0 5px;
  }
  @include m-query(md) {
    grid-column: span 2;
    align-self: center;
  }
  @include m-query(lg) {
    grid-column: span 1;
  }
}
.subscription-form {
  display: flex;
  &__input {
    display: block;
    flex: 1;
    font-size: 16px;
    outline: 0;
    padding-left: 20px;
    border: 1px solid #e5e5e5;
    &::placeholder {
      color: #cccccc;
      font-style: italic;
    }
  }
  &__button {
    background-color: $secondary-color;
    border: none;
    text-transform: uppercase;
    padding: 12px 15px;
    font-weight: 800;
    font-size: 14px;
    color: white;
  }
}
.blogs {
  &__heading {
    font-size: 14px;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  .blog {
    margin-bottom: 15px;
    display: flex;
    &__info {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    &__title {
      font-size: 12px;
      font-family: 'Montserrat';
      text-transform: uppercase;
      color: #2ec06c;
    }
    &__photo {
      margin-right: 1.5em;
    }
    &__date {
      font-size: 13px;
      font-style: italic;
      color: #999999;
    }
  }
}

.instagram {
  &__heading {
    font-size: 14px;
    margin-bottom: 25px;
    text-transform: uppercase;
  }
  &__feed {
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 10px;
  }
  &__photo {
    display: block;
    width: 100%;
  }
  &__link {
    display: block;
  }
  &__link {
    font-size: 13px;
    font-style: italic;
    color: #999999;
  }
}
