.l-grid {
  @include m-query(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }
  @include m-query(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
}
