.people-feedback {

    background-image: url(../img/happy-client/bg-happy-client.jpg);
    background-size: cover;
    background-position: center;

    .primary-heading {
        margin-bottom: 2rem;
    }

    .feedback-box {
        margin-bottom: 5em;
    }

}