.services {
  &__icon {
    width: 30px;
    height: 30px;
    margin-right: 2em;
    fill: $secondary-color;
  }
  &__title {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 500;
    text-transform: uppercase;
    color: #333333;
  }
  &__item {
    padding-top: 1em;
    border-bottom: 1px #e5e5e5 solid;
    &:last-child {
      border-bottom: none;
    }
    @include m-query(md) {
      &:nth-last-child(2) {
        border-bottom: none;
      }
    }
    @include m-query(lg) {
      &:nth-last-child(3) {
        border-bottom: none;
      }
    }
  }
}
