.showcase {
    background-image: url(../img/unique-design/bg-unique-design.jpg);
    background-size: cover;
    height: 50rem;
    position: relative;
    margin-bottom: 5rem;

    &__tablet {
        position: absolute;
        height: 35rem;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    &__phone {
        position: absolute;
        height: 20rem;
        bottom: -8%;
        left: 65%;
        
    }
}