//colors
$primary-color-gradient: linear-gradient(
  rgba(243, 129, 129, 0.9),
  rgba(252, 227, 138, 0.9)
);
$secondary-color: #95e1d3;
$paragraph-color: #999999;

// animations
$card-animation-time: 0.4s ease-out;

//layout
$primary-item-padding: 0 1.5rem;
$heading-font-color-dark: #333333;
$heading-underline-color-dark: #f38181;
$heading-font-color-light: white;
$heading-underline-color-light: white;
