// Colors
$color-primary: #F38181 !default;
$color-secondary: #FCE38A !default;
$color-link: #2ec06c !default;
$color-white: #fff !default;

// Typography
$color-grey-light-1: #faf9f9 !default;
$color-grey-light-2: #f4f2f2 !default;
$color-grey-light-3: #f0eeee !default;
$color-grey-light-4: #ccc !default;

$color-grey-dark-1: #333 !default;
$color-grey-dark-2: #666 !default;
$color-grey-dark-3: #999 !default;

// Fonts
$font-roboto: 'Roboto', sans-serif !default;
$font-montserrat: 'Montserrat', sans-serif !default;
$font-kaushan-script: 'Kaushan Script', cursive !default;

$font-families: (
				'roboto': $font-roboto,
				'montserrat': $font-montserrat,
				'kaushan-script': $font-kaushan-script
) !default;

// Grid breakpoints
$grid-breakpoints: (
				xs: 0,
				sm: 576px,
				md: 768px,
				lg: 992px,
				xl: 1200px
) !default;

// Grid containers
$container-max-widths: (
				sm: 540px,
				md: 720px,
				lg: 960px,
				xl: 1140px
) !default;

$container-padding-x: 1rem !default;
