//colors
$primary-color-gradient: linear-gradient(
  rgba(243, 129, 129, 0.9),
  rgba(252, 227, 138, 0.9)
);
$secondary-color: #95e1d3;
$paragraph-color: #999999;

$secondary-controls-hover-color: rgba(252, 227, 138, 1);

$heading-font-color-dark: #333333;
$heading-underline-color-dark: #f38181;
$heading-font-color-light: white;
$heading-underline-color-light: white;

$navbar-background-color: #EB6461;
$navbar-font-color: white;

$clickable-logos-background-color: #F8F8F8;

$navbar-dropdown-background-color: #d28280;

$feedback-box-name-font-color : $heading-font-color-dark;
$feedback-box-title-font-color : #999999;

$blog-title-font-color: #3EC374;
$blog-underline-color: #E5E5E5;
$blog-content-margin-bottom: 1.3rem;
$blog-accent-color: #96E1D3;
$blog-text-font-color: $feedback-box-title-font-color;
$blog-date-font-color: white;

// animations
$card-animation-time: 0.4s ease-out;

//layout
$primary-item-padding: 0 1.5rem;
$primary-item-padding-side: 1.5rem;
$maximum-content-width: 1170px;

