@import './base/typography';
@import './components/header';
@import './components/about';
@import './utils/variables';

* {
  box-sizing: border-box;
  font-family: Lato;
}

body {
  margin: 0;
  padding: 0;
}