@import './base/typography';
@import './base/utilities';
@import './components/header';
@import './components/about';
@import './components/services';
@import './components/composition';
@import './layout/images';
@import './utils/variables';


* {
  box-sizing: border-box;
  font-family: Lato;
}

body {
  margin: 0;
  padding: 0;
}
