@import "../../variables.scss";
@import "../../styles.scss";
@import "../../mixins.scss";

:host {
    
    height: $header-height;
    background-color: $component-background-color-light;
    margin: $component-margin;
    border-radius: $component-border-radius;
    box-shadow: $component-box-shadow;
    position: relative;

}

h1 {
    @include center-absolute;
    font-size: 5rem;
    color: $h1-font-color-light;
}