.about-us {
  display: flex;
  justify-content: center;

  fieldset {
    border: 2px solid black;
    border-radius: 2px;
    width: 750px;
    margin-top: 110px;
    margin-bottom: 110px;

    legend {
      font-size: 28px;
      font-weight: 600;
      text-transform: uppercase;
      padding-right: 100px;
      padding-left: 100px;
      letter-spacing: 5px;
    }

    p {
      color: black;
      font-size: 12px;
      text-transform: unset;
      font-weight: 300;
    }

    .upper-text-wrapper {
      margin: 40px 0;
    }

    .bottom-text-wrapper{
      margin-bottom: 30px;
    }
  }
}

@media(max-width:600px){
  .about-us {
    fieldset {
      max-width: 350px;

      legend {
        font-size: 22px;
        padding-right: 20px;
        padding-left: 20px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}