.what-we-do {
  display: flex;
  justify-content: center;
}

fieldset {
  border: 2px solid black;
  border-radius: 2px;
  width: 750px;
  margin-top: 110px;
  margin-bottom: 110px;
  text-align: center;
}

legend {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  padding-right: 100px;
  padding-left: 100px;
  letter-spacing: 5px;
  color: $dark-grey;
}

p {
  color: $dark-grey;
  font-size: 14px;
  text-transform: none;
  font-weight: 300;
}

.feature {
  &__image1 {
    height: 84px;
    width: 81px;
  }

  &__image2 {
    height: 77px;
    width: 80px;
  }

  &__image1 {
    height: 92px;
    width: 80px;
  }

  &__heading {
    color: $dark-grey;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
  }

  &__text {
    font-size: 14px;
    color: $dark-grey;
  }
}

.contact-us {
  display: flex;
  justify-content: center;

  p {
    font-size: 16px;
  }

  fieldset{
    margin-bottom: 70px;
  }

  &__button {
    background-color: $dark-grey;
    color: white;
    width: 390px;
    height: 59px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 3px;
  }
}
.copyrights {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;

  &__image {
    display: inline-block;
  }
  &__text {
    display: inline-block;
    font-weight: 300;
  }
}

@media (max-width: 800px) {
  fieldset {
    width: 500px;
  }

  .contact-us__button {
    width: 250px;
  }
}

@media (max-width: 500px) {
  fieldset {
    width: 350px;
  }

  legend {
    font-size: 26px;
  }

  .copyrights__text,
  .copyrights__image {
    font-size: 10px;
  }
}
