.our-work {
  display: flex;
  justify-content: center;

  @include fieldset-setup;

  &__feature {
    &__images {
      &--img1 {
        height: 84px;
        width: 81px;
      }

      &--img2 {
        height: 77px;
        width: 80px;
      }

      &--img3 {
        height: 92px;
        width: 80px;
      }
    }

    &__heading {
      color: $secondary-color;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 500;
    }

    &__text {
      font-size: 14px;
      color: $secondary-color;
    }
  }
}

@media (max-width: 800px) {
  .our-work {
    fieldset {
      width: 550px;
    }
  }
}

@media (max-width: 600px) {
  .our-work {
    @include fieldset-setup-600px;

    &__feature {
      &__images {
        &--img1 {
          height: 64px;
          width: 61px;
        }

        &--img2 {
          height: 57px;
          width: 65px;
        }

        &--img3 {
          height: 62px;
          width: 61px;
        }
      }

      &__heading {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 375px) {
  .our-work {
    @include fieldset-setup-375px;

    &__feature {
      &__images {
        &--img1 {
          height: 54px;
          width: 51px;
        }

        &--img2 {
          height: 47px;
          width: 55px;
        }

        &--img3 {
          height: 52px;
          width: 51px;
        }
      }

      &__heading {
        font-size: 16px;
      }
    }
  }
}
