.root {
  position: relative;
  //position: absolute;
  //top: 50%;
  //left: 50%;
  //transform: translate(-50%, -50%);
  //width: 800px;
  //background-color: #fff;
  //padding: 16px;
}

.container {
  display: flex;
  flex-direction: column;
}

.input-field {
  //margin-bottom: 16px;
  width: 220px;
}

.grid {
  display: flex;
  padding-top: 16px;
}

.close-button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  min-width: 0;
  line-height: 0;
}

.modal-buttons {
  justify-content: space-between;

  .btn {
    padding: 0;
    text-transform: uppercase;
  }
}
