*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer; }

.card {
  display: inline-block;
  margin: 2rem auto;
  position: relative; }
  .card__picture {
    display: block;
    max-width: 100%; }
  .card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s ease-out;
    background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    z-index: 1;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; }
    .card__overlay:hover {
      opacity: 1; }
  .card__icon {
    width: 5rem; }
  .card__title {
    font-size: 1.6rem;
    text-transform: uppercase; }
  .card--animation {
    transition: transform 0.4s ease-out; }
    .card--animation::after {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.4s ease-out;
      background-color: #95e1d3; }
    .card--animation:hover {
      transform: translate(-1rem, -1rem); }
    .card--animation:hover::after {
      transform: translate(1rem, 1rem); }

.container {
  margin: 0 auto; }
  @media only screen and (min-width: 992px) {
    .container {
      max-width: 1170px; } }

.l-grid {
  text-align: center;
  padding: 0 1.5rem; }
  @media only screen and (min-width: 768px) {
    .l-grid {
      display: flex; }
      .l-grid__item {
        flex: 1; }
      .l-grid__item:not(:last-child) {
        margin-right: 2.5rem; } }
