*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif; }

a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer; }

.paragraph {
  text-align: center;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 2rem;
  color: #999999; }
  .paragraph--left {
    text-align: left; }

.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem 2rem; }
  .btn--white-transparent {
    border: 1px solid  white;
    color: white; }

.card {
  display: inline-block;
  margin: 1rem auto;
  position: relative; }
  .card__picture {
    display: block;
    max-width: 100%; }
  .card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s ease-out;
    background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    z-index: 1;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; }
    .card__overlay:hover {
      opacity: 1; }
  .card__icon {
    width: 5rem; }
  .card__title {
    font-size: 1.6rem;
    text-transform: uppercase; }
  .card--animation {
    transition: transform 0.4s ease-out; }
    .card--animation::after {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.4s ease-out;
      background-color: #95e1d3; }
    .card--animation:hover {
      transform: translate(-1rem, -1rem); }
    .card--animation:hover::after {
      transform: translate(1rem, 1rem); }

.feature-box {
  display: flex;
  padding: 0 1.5rem;
  text-align: left; }

.horizontal-list {
  display: flex;
  list-style: none;
  text-align: center; }
  .horizontal-list__item {
    flex: 1;
    border-left: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 1px; }
    .horizontal-list__item:last-child {
      border-right: 1px solid; }

.navbar {
  background-color: #EB6461; }
  .navbar__box-essentials {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  .navbar__site-name {
    color: white;
    font-size: 2.1rem;
    font-weight: bold;
    position: relative;
    padding: 0 1.5rem; }
    .navbar__site-name span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  .navbar__essential-controls {
    float: right;
    font-size: 2rem; }
    .navbar__essential-controls .btn {
      color: white;
      padding: 1.5rem 1rem; }
  .navbar__other-controls {
    background-color: #d28280;
    box-shadow: inset 0px 1rem 1rem -5px rgba(0, 0, 0, 0.5);
    display: none; }
    .navbar__other-controls .btn {
      display: block;
      color: white;
      padding: 1.8rem 1.5rem;
      font-size: 1.3rem; }

.primary-heading {
  text-align: center;
  position: relative; }
  .primary-heading h2 {
    padding-top: 2rem;
    font-family: 'Dancing Script', cursive; }
  .primary-heading h1 {
    margin-top: 0.7rem;
    text-transform: uppercase;
    padding-bottom: 3rem; }
  .primary-heading h1:after {
    display: block;
    position: absolute;
    left: 50%;
    top: 86%;
    transform: translateX(-50%);
    content: "";
    background-color: black;
    height: 0.13rem;
    width: 5rem;
    margin-top: 0.7rem; }
  .primary-heading--size-lg h2 {
    font-size: 2.1rem; }
  .primary-heading--size-lg h1 {
    font-size: 4.3rem; }
  .primary-heading--size-sm h2 {
    font-size: 1.8rem; }
  .primary-heading--size-sm h1 {
    font-size: 2.1rem; }
  .primary-heading--size-sm h1:after {
    top: 76%;
    width: 5rem; }
  .primary-heading--light h2 {
    color: white; }
  .primary-heading--light h1 {
    color: white; }
  .primary-heading--light h1:after {
    background-color: white; }
  .primary-heading--dark h2 {
    color: #333333; }
  .primary-heading--dark h1 {
    color: #333333; }
  .primary-heading--dark h1:after {
    background-color: #f38181; }

.indicators {
  position: relative;
  top: -3rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem; }

.indicator:after {
  content: "";
  display: block;
  top: 30%;
  width: 7rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.644); }

.about {
  padding-bottom: 20px; }

.header__carousel {
  background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url(../img/bg-header.jpg);
  background-size: cover;
  height: 35vh; }
  .header__carousel .btn--header {
    margin-left: 50%;
    transform: translateX(-50%); }

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 1.5rem; }
  @media only screen and (min-width: 992px) {
    .container {
      max-width: 1170px; } }

.l-row {
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .l-row__item {
      padding: 0 1.5rem; } }
  @media only screen and (min-width: 768px) {
    .l-row {
      display: flex; } }

@media only screen and (min-width: 768px) {
  .l-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr; } }

@media only screen and (min-width: 992px) {
  .l-grid {
    grid-template-columns: repeat(3, 1fr); } }

.achievement {
  background-color: #95e1d3;
  color: #fff;
  font-size: 16px; }
  .achievement__count {
    font-size: 1.8em;
    margin-bottom: 0.6rem; }
  .achievement__title {
    font-size: 0.5em;
    font-weight: 200;
    text-transform: uppercase; }
  @media only screen and (min-width: 576px) {
    .achievement {
      font-size: 24px; } }
  @media only screen and (min-width: 768px) {
    .achievement {
      font-size: 30px; } }
  @media only screen and (min-width: 992px) {
    .achievement {
      font-size: 34px; } }

.services__icon {
  width: 30px;
  height: 30px;
  margin-right: 2em;
  fill: #95e1d3; }

.services__title {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 500;
  text-transform: uppercase;
  color: #333333; }

.services__item {
  padding-top: 1em;
  border-bottom: 1px #e5e5e5 solid; }
  .services__item:last-child {
    border-bottom: none; }
  @media only screen and (min-width: 768px) {
    .services__item:nth-last-child(2) {
      border-bottom: none; } }
  @media only screen and (min-width: 992px) {
    .services__item:nth-last-child(3) {
      border-bottom: none; } }

.u-collapsed {
  display: block; }
