@import url("https://fonts.googleapis.com/css?family=Montserrat");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif; }

a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer; }

p {
  font-size: 13px;
  line-height: 1.7;
  color: #999999; }

.section-description {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 40px;
  max-width: 750px; }

.btn {
  display: inline-block;
  text-transform: uppercase;
  padding: 1rem 2rem;
  text-align: center; }
  .btn--white-transparent {
    border: 1px solid  white;
    color: white; }

.card {
  display: inline-block;
  position: relative; }
  .card__picture {
    display: block;
    width: 100%; }
  .card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.4s ease-out;
    background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9));
    z-index: 1;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; }
    .card__overlay:hover {
      opacity: 1; }
  .card__icon {
    font-size: 30px;
    margin-bottom: 5px; }
  .card__title {
    font-size: 1.6rem;
    text-transform: uppercase; }
  .card--animation {
    transition: transform 0.4s ease-out; }
    .card--animation::after {
      content: '';
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.4s ease-out;
      background-color: #95e1d3; }
    .card--animation:hover {
      transform: translate(-1rem, -1rem); }
    .card--animation:hover::after {
      transform: translate(1rem, 1rem); }
  .card--box {
    display: block; }

.feature-box {
  display: flex;
  padding: 0 1.5rem;
  text-align: left; }

.horizontal-list {
  display: flex;
  list-style: none;
  text-align: center; }
  .horizontal-list__item {
    flex: 1;
    border-left: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 1px; }
    .horizontal-list__item:last-child {
      border-right: 1px solid; }

.navbar {
  background-color: #EB6461; }
  .navbar__box-essentials {
    display: flex;
    width: 100%;
    justify-content: space-between; }
  .navbar__site-name {
    color: white;
    font-size: 2.1rem;
    font-weight: bold;
    position: relative;
    padding: 0 1.5rem; }
    .navbar__site-name span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  .navbar__essential-controls {
    float: right;
    font-size: 2rem;
    padding: 0 1.5rem; }
    .navbar__essential-controls .btn {
      color: white;
      padding: 1.5rem 1rem; }
  .navbar__other-controls {
    background-color: #d28280;
    box-shadow: inset 0px 1rem 1rem -5px rgba(0, 0, 0, 0.5);
    display: none; }
    .navbar__other-controls .btn {
      display: block;
      color: white;
      padding: 1.8rem 1.5rem;
      font-size: 1.3rem; }
  @media only screen and (min-width: 992px) {
    .navbar {
      position: absolute;
      width: 100%;
      background-color: transparent;
      transform: translateX(-50%);
      left: 50%;
      max-width: 1170px; }
      .navbar .fa-bars {
        display: none; }
      .navbar__other-controls {
        background-color: transparent;
        box-shadow: none;
        display: flex;
        position: absolute;
        top: 0;
        right: calc(20% - 7rem); } }

.primary-heading {
  text-align: center;
  position: relative; }
  .primary-heading h2 {
    padding-top: 2rem;
    font-family: 'Dancing Script', cursive; }
  .primary-heading h1 {
    margin-top: 0.7rem;
    text-transform: uppercase;
    padding-bottom: 3rem; }
  .primary-heading h1:after {
    display: block;
    position: absolute;
    left: 50%;
    top: 86%;
    transform: translateX(-50%);
    content: "";
    background-color: black;
    height: 0.13rem;
    width: 5rem;
    margin-top: 0.7rem; }
  .primary-heading--size-lg h2 {
    font-size: 2.1rem; }
  .primary-heading--size-lg h1 {
    font-size: 4.3rem; }
  @media only screen and (min-width: 992px) {
    .primary-heading--size-lg h2 {
      font-size: 5rem; }
    .primary-heading--size-lg h1 {
      font-size: 10rem; }
    .primary-heading--size-lg h1:after {
      top: 95%;
      height: 0.2rem; } }
  .primary-heading--size-sm h2 {
    font-size: 1.8rem; }
  .primary-heading--size-sm h1 {
    font-size: 2.1rem; }
  .primary-heading--size-sm h1:after {
    top: 76%;
    width: 5rem; }
  .primary-heading--light h2 {
    color: white; }
  .primary-heading--light h1 {
    color: white; }
  .primary-heading--light h1:after {
    background-color: white; }
  .primary-heading--dark h2 {
    color: #333333; }
  .primary-heading--dark h1 {
    color: #333333; }
  .primary-heading--dark h1:after {
    background-color: #f38181; }

.indicators {
  position: relative;
  top: -3rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem; }

.indicator:after {
  content: "";
  display: block;
  top: 30%;
  width: 7rem;
  border: 0.1rem solid rgba(255, 255, 255, 0.644); }

.collapsible {
  border: 1px solid #e5e5e5; }
  .collapsible:not(:first-child) {
    margin-top: 1em; }
  .collapsible__toggle {
    display: none; }
  .collapsible__toggle:checked + .collapsible__label + .collapsible__content {
    max-height: 140px;
    margin: 15px 20px 15px 0; }
  .collapsible__toggle:checked + .collapsible__label .collapsible__arrow {
    transform: rotate(180deg); }
  .collapsible__icon {
    font-size: 30px;
    margin-right: 10px;
    color: #95e1d3; }
  .collapsible__label {
    padding: 10px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5; }
  .collapsible__title {
    flex: 1;
    text-transform: uppercase;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 300; }
  .collapsible__arrow {
    font-size: 20px;
    color: #e5e5e5; }
  .collapsible__content {
    overflow-y: scroll;
    max-height: 0;
    transition: all 0.4s ease-in-out;
    margin-right: 20px; }
    .collapsible__content::-webkit-scrollbar {
      width: 5px; }
    .collapsible__content::-webkit-scrollbar-track {
      border-left: 2px solid white;
      border-right: 2px solid white;
      background-color: #e5e5e5; }
    .collapsible__content::-webkit-scrollbar-thumb {
      background-color: #95e1d3;
      border-radius: 30px; }
    .collapsible__content::-webkit-resizer {
      width: 10px; }
  .collapsible__text {
    padding: 0 10px 10px 10px;
    margin-right: 30px; }

.blog {
  display: flex; }
  .blog__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .blog__title {
    font-size: 13px;
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #2ec06c; }
  .blog__photo {
    margin-right: 1.5em; }
  .blog__date {
    font-size: 13px;
    font-style: italic;
    color: #999999; }

.clickable-logo {
  display: inline-block;
  background-size: cover;
  width: 14rem;
  height: 14rem;
  margin: 2rem;
  transition: transform 0.3s; }
  .clickable-logo:hover {
    transform: scale(1.1); }
  .clickable-logo--1 {
    background-image: url(../img/brand/img-1.png); }
  .clickable-logo--2 {
    background-image: url(../img/brand/img-2.png); }
  .clickable-logo--3 {
    background-image: url(../img/brand/img-3.png); }
  .clickable-logo--4 {
    background-image: url(../img/brand/img-4.png); }
  .clickable-logo--5 {
    background-image: url(../img/brand/img-5.png); }
  .clickable-logo--6 {
    background-image: url(../img/brand/img-6.png); }
  @media only screen and (max-width: 320px) {
    .clickable-logo {
      margin: 1.8rem 1rem;
      width: 11rem;
      height: 11rem; } }
  @media only screen and (min-width: 768px) {
    .clickable-logo {
      margin: 1.8rem 5rem;
      width: 14rem;
      height: 14rem; } }
  @media only screen and (min-width: 992px) {
    .clickable-logo {
      margin: 1.8rem 3rem;
      width: 11rem;
      height: 11rem; } }
  @media only screen and (min-width: 1200px) {
    .clickable-logo {
      margin: 1.8rem 3rem;
      width: 14rem;
      height: 14rem; } }

.about {
  padding-bottom: 20px; }
  .about .card {
    margin: 1rem 0; }

.header__carousel {
  background-image: linear-gradient(rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9)), url(../img/bg-header.jpg);
  background-size: cover;
  background-position: center; }
  .header__carousel .btn {
    margin-bottom: 6rem; }
  .header__carousel .btn--header {
    margin-left: 50%;
    transform: translateX(-50%); }
  @media only screen and (min-width: 992px) {
    .header__carousel .primary-heading {
      padding-top: 10rem; }
    .header__carousel .btn {
      width: 12rem;
      margin-top: 2rem;
      margin-bottom: 10rem; } }

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 1.5rem; }
  @media only screen and (min-width: 992px) {
    .container {
      max-width: 1170px; } }

.l-row {
  text-align: center; }
  @media only screen and (min-width: 768px) {
    .l-row__item {
      padding: 0 1.5rem; } }
  @media only screen and (min-width: 768px) {
    .l-row {
      display: flex; } }

.l-grid--gap {
  gap: 40px; }

@media only screen and (min-width: 768px) {
  .l-grid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr; } }

@media only screen and (min-width: 992px) {
  .l-grid {
    grid-template-columns: repeat(3, 1fr); } }

.achievement {
  background-color: #95e1d3;
  color: #fff;
  font-size: 16px; }
  .achievement__count {
    font-size: 1.8em;
    margin-bottom: 0.6rem; }
  .achievement__title {
    font-size: 0.5em;
    font-weight: 200;
    text-transform: uppercase; }
  @media only screen and (min-width: 576px) {
    .achievement {
      font-size: 24px; } }
  @media only screen and (min-width: 768px) {
    .achievement {
      font-size: 30px; } }
  @media only screen and (min-width: 992px) {
    .achievement {
      font-size: 34px; } }

.services__icon {
  font-size: 30px;
  color: #95e1d3;
  margin-right: 20px; }

.services__title {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 500;
  text-transform: uppercase;
  color: #333333; }

.services__item {
  padding-top: 30px;
  padding-bottom: 15px;
  height: 100%;
  border-bottom: 1px #e5e5e5 solid; }
  .services__item:last-child {
    border-bottom: none; }
  @media only screen and (min-width: 768px) {
    .services__item:nth-last-child(2) {
      border-bottom: none; } }
  @media only screen and (min-width: 992px) {
    .services__item:nth-last-child(3) {
      border-bottom: none; } }

@media only screen and (min-width: 576px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .gallery__item:nth-child(3) {
      grid-row: span 2; } }

@media only screen and (min-width: 992px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr); } }

.showcase {
  background-image: url(../img/unique-design/bg-unique-design.jpg);
  background-size: cover;
  height: 50rem;
  position: relative;
  margin-bottom: 5rem; }
  .showcase__tablet {
    position: absolute;
    height: 35rem;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); }
  .showcase__phone {
    position: absolute;
    height: 20rem;
    bottom: -8%;
    left: 65%; }
  @media only screen and (min-width: 992px) {
    .showcase {
      height: 60rem; }
      .showcase__tablet {
        height: 40rem; }
      .showcase__phone {
        height: 35rem;
        left: 55%; }
      .showcase .primary-heading {
        padding-top: 5rem; } }

.what-we-do__picture img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  margin-bottom: 10px; }

@media only screen and (min-width: 992px) {
  .what-we-do__picture {
    flex: 1;
    margin-right: 40px; } }

.what-we-do__skills {
  max-width: 700px;
  margin: 0 auto; }
  @media only screen and (min-width: 992px) {
    .what-we-do__skills {
      flex: 1; } }

@media only screen and (min-width: 992px) {
  .what-we-do__content {
    display: flex; } }

.employee__name {
  margin-top: 20px;
  font-size: 18px;
  text-transform: uppercase; }

.employee__role {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #999999;
  font-style: italic; }

.footer {
  padding-top: 40px; }
  .footer__copyright {
    padding-top: 20px;
    margin-top: 30px;
    border-top: 1px solid #e5e5e5; }

.social {
  margin-bottom: 20px; }
  .social__title {
    font-size: 32px;
    color: #cccccc;
    margin-bottom: 20px; }
  .social__followers {
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 100;
    border-bottom: 1px solid #e5e5e5; }
    .social__followers span {
      font-size: 18px;
      font-weight: 800; }
  .social__links {
    font-size: 14px;
    font-style: italic;
    color: #999999;
    margin: 15px 0;
    margin-bottom: 20px; }
  .social__link {
    color: #95e1d3;
    font-size: 15px;
    margin: 0 5px; }
  @media only screen and (min-width: 768px) {
    .social {
      grid-column: span 2;
      align-self: center; } }
  @media only screen and (min-width: 992px) {
    .social {
      grid-column: span 1; } }

.subscription-form {
  display: flex; }
  .subscription-form__input {
    display: block;
    flex: 1;
    font-size: 16px;
    outline: 0;
    padding-left: 20px;
    border: 1px solid #e5e5e5; }
    .subscription-form__input::placeholder {
      color: #cccccc;
      font-style: italic; }
  .subscription-form__button {
    background-color: #95e1d3;
    border: none;
    text-transform: uppercase;
    padding: 12px 15px;
    font-weight: 800;
    font-size: 14px;
    color: white; }

.blogs__heading {
  font-size: 14px;
  margin-bottom: 25px;
  text-transform: uppercase; }

.blogs .blog {
  margin-bottom: 15px; }

.instagram__heading {
  font-size: 14px;
  margin-bottom: 25px;
  text-transform: uppercase; }

.instagram__feed {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 10px; }

.instagram__photo {
  display: block;
  width: 100%; }

.instagram__link {
  display: block; }

.instagram__link {
  font-size: 13px;
  font-style: italic;
  color: #999999; }

.clickable-logos {
  background-color: #F8F8F8;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3rem 0rem; }

.u-collapsed {
  display: block; }
